<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>


<div class="container mt-8 mb-6 text-center">

  <h2 class="mb-6">Cyber Teach <%= t("features.title") %></h2>

  <div class="row feature-stamp">
    <div class="col-lg-3 col-md-6">
      <div class="feature-item">
        <div class="stamp bg-primary"><i class="fas fa-comments fa-2x"></i></div>
        <h4 class="mt-4"><%= t("features.chat.title") %></h4>
        <p><%= t("features.chat.description") %></p>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <span class="stamp bg-primary"><i class="fas fa-video fa-2x"></i></span>
      <h4 class="mt-4"><%= t("features.webcam.title") %></h4>
      <p><%= t("features.webcam.description") %></p>
    </div>
    <div class="col-lg-3 col-md-6">
      <span class="stamp bg-primary"><i class="fas fa-microphone-alt fa-2x"></i></span>
      <h4 class="mt-4"><%= t("features.audio.title") %></h4>
      <p><%= t("features.audio.description") %></p>
    </div>
    <div class="col-lg-3 col-md-6">
      <span class="stamp bg-primary"><i class="fas fa-grin-stars fa-2x"></i></span>
      <h4 class="mt-4"><%= t("features.emoji.title") %></h4>
      <p><%= t("features.emoji.description") %></p>
    </div>
  </div>
  
  
  <div class="row feature-stamp">
    <div class="col-lg-3 col-md-6">
      <div class="feature-item">
        <div class="stamp bg-primary"><i class="fas fa-chalkboard-teacher fa-2x"></i></div>
        <h4 class="mt-4"><%= t("features.breakout_room.title") %></h4>
      <p><%= t("features.breakout_room.description") %></p>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <span class="stamp bg-primary"><i class="fas fa-clipboard-list fa-2x"></i></span>
      <h4 class="mt-4"><%= t("features.poll.title") %></h4>
      <p><%= t("features.poll.description") %></p>
    </div>
    <div class="col-lg-3 col-md-6">
      <span class="stamp bg-primary"><i class="fas fa-images fa-2x"></i></span>
      <h4 class="mt-4"><%= t("features.screen_sharing.title") %></h4>
      <p><%= t("features.screen_sharing.description") %></p>
    </div>
    <div class="col-lg-3 col-md-6">
      <span class="stamp bg-primary"><i class="fas fa-highlighter fa-2x"></i></span>
      <h4 class="mt-4"><%= t("features.whiteboard.title") %></h4>
      <p><%= t("features.whiteboard.description") %></p>
    </div>
  </div>
  
  
</div>
